body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: aqua;
    color: #333;
}

header {
    background-color: blue;
    color: azure;
    padding: 10px;
    text-align: center;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    display: block;
  }
  
  nav a:hover {
    background-color: #1abc9c;
    color: white;
  }
  
  section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  form label,
  form input,
  form textarea,
  form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  form input,
  form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #1abc9c;
  }



footer {
    font-family: Arial, sans-serif;
    margin-bottom: 0px;
    padding: 20px;
    background-color: blue;
    color: white;
    text-align: center;
}

.slideshow-container {
  width: 100%;
  max-width: 1000px;
  height: 400px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
